---
import HeaderLink from "./HeaderLink.astro";
---

<script>
	const navBar = document.querySelector(".nav-bar");
	let prevScrollPos = window.pageYOffset;

	window.addEventListener("scroll", () => {
		const currentScrollPos = window.pageYOffset;

		if (prevScrollPos > currentScrollPos) {
			navBar!.classList.remove("hidden-nav");
		} else {
			navBar!.classList.add("hidden-nav");
		}

		prevScrollPos = currentScrollPos;
	});
</script>

<header>
	<nav class="w-full nav-bar">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
</header>
<style>
	header {
		/* margin: 0em 0 2em; */
	}
	h2 {
		margin: 0.5em 0;
	}
	nav {
		background-image: linear-gradient(90deg, #ff8a00 0%, #e52e71 100%);
		height: 50px;
		line-height: 50px;
		text-align: center;
	}
	.nav-bar {
		position: fixed;
		top: 0;
		z-index: 3;
		font-size: 1.2rem;
		transition: all 0.3s ease-in-out;
	}

	.hidden-nav {
		transform: translateY(-100%);
	}
</style>
